.accordion, .summary {
    background-color: whitesmoke;
    padding: 10px 20px 10px 15px;
    border-radius: 15px;
}

.accordion :focus {
    outline: none;
}

.accordion__button {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 5px;
}

.accordion__button:after {
    content: '';
    height: 7px;
    width: 7px;
    margin-top: 8px;
    margin-left: 8px;
    border-bottom: 2px solid currentColor;
    border-right: 2px solid currentColor;
    transform: rotate(45deg);
}

.accordion__button[aria-expanded='true']::after {
    transform: rotate(-135deg);
}

.accordion__heading :hover {
    color: var(--main-dark-color);
}

.accordion__panel {
    padding: 10px;
    animation: fadein 0.35s ease-in;
}

.accordion__panel strong {
    font-size: 15.5px;
}

@keyframes fadein {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

.accordion__heading{
    font-weight: bold;
}