.App {
  margin-top: 140px;
}

.content-container {
  margin: 20px;
}

.navbar {
  display: flex;
  justify-content: space-between;
  padding: 0 20px 2px 20px;
  position: fixed;
  top: 0;
  width: -webkit-fill-available;
  background: #ffa17e;
  align-items: center;
}

.navbar-brand {
  display: flex;
  align-items: center;
}

a.nav-link {
  margin-left: 15px;
  color: white;
  font-size: larger;
  text-decoration: none;
}

a.nav-link:active {
  color: #c05e69;
  border-bottom: 2px solid #c05e69;
  padding-bottom: 3px;
}

a.nav-link:hover {
  color: #c05e69;
}