.App {
  margin-top: 80px;
}

.navbar {
  display: flex;
  justify-content: space-between;
  padding: 20px;
  position: fixed;
  top: 0;
  width: -webkit-fill-available;
  background: lightpink;
  align-items: center;
}

.navbar-brand {
  display: flex;
  align-items: center;
}

.navbar-nav {

}

.nav-link {
  margin-left: 5px;
}

.content-container {
  margin: 20px;
}
