@font-face {
  font-family: 'Playfair Display';
  src: url('https://fonts.googleapis.com/css2?family=Playfair+Display&display=swap');
}

:root {
  --main-light-color: #ffdcd1;
  --main-medium-color: #ff9d8e;
  --main-dark-color: #c05e69;
}

.App {
  margin-top: 160px;
  font-family: 'Playfair Display', serif;
}

.page-container {
  margin: 12%;
  line-height: 1.8em;
  text-align: justify;
}

@media (max-width: 699px) {
  .page-container {
    text-align: left;
    margin: 5%
  }
  .navbar {
    display: flex;
    flex-direction: column;
  }
}

.navbar {
  display: flex;
  justify-content: space-between;
  padding: 0 50px 2px 50px;
  position: fixed;
  top: 0;
  width: -webkit-fill-available;
  background: var(--main-light-color);
  align-items: center;
  z-index: 100;
}

.navbar-brand {
  display: flex;
  align-items: center;
}

a.nav-link {
  margin-left: 15px;
  font-size: 21px;
  text-decoration: none;
}

a:link, a:visited {
  color: var(--main-dark-color);
  text-decoration: none;
}

a:hover {
  color: var(--main-medium-color);
}