.contact-container {
    display: flex;
    justify-content: space-around;
    padding-top: 50px;
}

@media (max-width: 899px) {
    .contact-container {
        flex-flow: column wrap;
    }

    .contact-card {
        padding: 15px;
    }
}

.contact-card {
    display: flex;
}

.contact-card-icon {
    padding-right: 25px;
}