.contact-info {
    display: flex;
}

.contact-card {
    display: flex;
    width: 33%;
    padding: 0 20px 0 20px;
}

.contact-card-column {
    padding-left: 25px;
}

.contact-card-icon {
    width: 50px;
    height: 50px;
    padding-top: 60%;
}

a:link, a:visited {
    color: #c05e69;
    text-decoration: none;
}

.contact-card-link:hover {
    color: #ffa17e;
}

h3 {
    margin-bottom: 12px;
}