.row-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.btn-right {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.btn-link {
    color: var(--main-dark-color);
    padding: 10px;
    border: var(--main-dark-color) solid 1px;
    border-radius: 25px;
    display: inline-block;
}

.btn-link:hover {
    color: var(--main-light-color);
    border: var(--main-light-color) solid 1px;
}

/*.btn-link:active {*/

/*}*/

.timeline {
    margin: 0 !important;
}

.timeline--wrapper {
    text-align: -webkit-center;
}

.timeline-item-dateinner{
    font-size: 25px;
}

/*.work-exp {*/
/*    color: var(--main-dark-color);*/
/*}*/

/*.project {*/
/*    color: var(--main-light-color);*/
/*}*/

.img-resume-container {
    text-align: center;
}

.img-resume {
    border: 1px solid;
    height: 1200px;
    margin-top: 30px;
}